.content {
  padding-top: 20px;
}

.content a {
  text-decoration: underline;
}

.menu a {
 color: white;
 text-decoration: underline;
}

.menu h3 {
 color: red;
}

.menu h4 {
 color: red;
 font-weight: 200;
}

.links h4 {
 font-weight: 200;
 font-variant: small-caps;
}

.links li {
 list-style-type: circle;
}

.links ul li:after {
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    margin: 10px;
    background: DimGray;
}


html, body {
  background: url("/background.gif") white repeat-y fixed;
}

